rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && request.auth.token.email in [
          "your-admin-email@gmail.com"
        ];
    }

    match /amsystem/{docId} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /amsystemUsers/{userId} {
      allow read, write: if isAdmin() || (signedIn() && request.auth.uid == userId);
    }

    match /amsystemOrders/{orderId} {
      allow read, write: if isAdmin() || (signedIn() && request.auth.uid == resource.data.userId);
      allow create: if signedIn() && request.auth.uid == request.resource.data.userId;
    }

    match /amsystemWithdraws/{withdrawId} {
      allow read, write: if isAdmin() || (signedIn() && request.auth.uid == resource.data.userId);
      allow create: if signedIn() && request.auth.uid == request.resource.data.userId;
    }

    match /amsystemRewards/{rewardId} {
      allow read: if isAdmin() || (signedIn() && request.auth.uid == resource.data.userId);
      allow write: if isAdmin();
    }

    match /amsystemPointLogs/{logId} {
      allow read: if isAdmin() || (signedIn() && request.auth.uid == resource.data.userId);
      allow write: if isAdmin();
    }

    match /amsystemAdminLogs/{logId} {
      allow read, write: if isAdmin();
    }
  }
}
